#header {
    background-color: #1e81b0 ;
    text-align: center;
    border-style: solid;
    border-bottom-color: aqua;
}
body {
    background-color: #ded8ce;
    border-style: solid;
}
h2 {
    color:#195e83 ;
}
 #footer{
    background-color:white ;
 }
